body{
    background-color: #9c4d4d;
}

header{
    width: 41%;
    margin-left: 29%;
}

article{
    background-color: white;
    text-align: justify;
    width: 40%;
    padding: 10px;
    margin-left: 29%;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#menu{
    background-color: white;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
/* é um comentario*/
/* decoração do li dentro do id menu*/

#menu li a{
    float: left;
}

#menu li a{
    display: block;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

#menu li a:hover{
    transition: 0.5s;
    color:white;
    background-color:cornflowerblue;
}

p{
    text-align: center;
}

h1{
    text-align: center;
    font-family: 'arial';
}

ol li span{
    float:right;
}

ol li{
border-bottom: 1px solid black;
}

#btt_link a{
    text-decoration: none;
    color: white;
    background-color: cornflowerblue;
    border-radius: 5px;
    padding: 7px;
}